@import (reference) '~antd/es/style/themes/index';
canvas {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background: @layout-body-background;
}

.content {
  position: relative;
  height: 500px;
  background: #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 12px 0 8px -12px #ccc,
              0 12px 8px -12px #ccc;
  opacity: .8;
  .left {
    position: absolute;
    width: 300px;
    height: 540px;
    top: -20px;
    text-align: center;
    line-height: 560px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
    background: #66a2fe;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    box-shadow: -6px 0 4px -6px #66a2fe;
    z-index: 10;
  }
  .right {
    margin-left: 300px;
    padding: 0 48px;
    height: 100%;
    opacity: .8;
    animation: show 1s ease-in-out;
  }
}

@keyframes show {
  0% {
    // transform: translateX(-100%);
    margin-left: 0;
    opacity: 0;
  }

  100% {
    // transform: translateX(0);
    margin-left: 300px;
    opacity: .8;
  }
}

.input {
  position: relative;
  border-bottom: 2px solid #ddd !important;
  &:hover {
    border-bottom: 2px solid #ddd;
    border-color: #66a2fe !important;
    transition: all .5s linear;
  }
}

.icon {
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  vertical-align: middle;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: @primary-color;
  }
}
