<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitness.dao.CourseInfoMapper">

    <sql id="baseQuery">
        select course_id,
               course_name,
               description,
               start_time,
               frequency,
               price
        from course_info
    </sql>

    <!--1. 根据id查询课程信息-->
    <select id="getCourseInfoById" resultType="com.fitness.entity.CourseInfo">
        <include refid="baseQuery"/>
        where course_id = #{id}
    </select>

    <!--2. 查询所有课程信息-->
    <select id="getAllCourseInfo" resultType="com.fitness.entity.CourseInfo">
        <include refid="baseQuery"/>
    </select>

    <!--3. 根据课程名字模糊查询信息-->
    <select id="getAllCourseInfoByName" resultType="com.fitness.entity.CourseInfo">
        <include refid="baseQuery"/> where course_name like concat('%', #{keyword}, '%')
    </select>

    <!--4. 查询所有课程数量-->
    <select id="getAllCourseInfoNumber" resultType="java.lang.Integer">
        select count(*) from course_info
    </select>

    <!--5. 新增课程信息-->
    <insert id="insertCourseInfo">
        insert into course_info(course_name, description, start_time, frequency, price)
        values (#{courseName}, #{description}, #{startTime}, #{frequency}, #{price})
    </insert>

    <!--6. 删除课程信息-->
    <delete id="deleteCourseInfo">
        delete from course_info where course_id = #{id}
    </delete>

    <!--7. 更新课程信息-->
    <update id="updateCourseInfo">
        update course_info set course_name = #{courseName}, description = #{description},
                               start_time = #{startTime}, frequency = #{frequency},
                               price = #{price}
        where course_id = #{courseId}
    </update>
</mapper>