<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitness.dao.CourseInfoMapper">

    <sql id="baseQuery">
        select course_id,
               course_name,
               description,
               start_time,
               frequency,
               price,
               capacity
        from course_info
    </sql>

    <!--1. 根据id查询课程信息-->
    <select id="getCourseInfoById" resultType="com.fitness.entity.CourseInfo">
        <include refid="baseQuery"/>
        where course_id = #{id}
    </select>

    <!--2. 查询所有课程信息-->
    <resultMap id="course_coach2" type="com.fitness.entity.CourseInfo">
        <id property="courseId" column="course_id"/>
        <result property="courseName" column="course_name"/>
        <result property="description" column="description"/>
        <result property="startTime" column="start_time"/>
        <result property="frequency" column="frequency"/>
        <result property="price" column="price"/>
        <result property="capacity" column="capacity"/>
        <association property="courseCoach" javaType="CourseCoach">
            <association property="coach" javaType="Coach">
<!--                <id property="coachId" column="coach_id"/>-->
                <result property="coachName" column="coach_name"/>
            </association>
        </association>
    </resultMap>
<!--    <select id="getAllCourseInfo" resultMap="course_coach2">
        select course_info.course_id,
               course_name,
               description,
               start_time,
               frequency,
               price,
               capacity,
               coach.coach_id,
               coach_name
        from course_info,coach,course_coach
where course_info.course_id = course_coach.course_id and course_coach.coach_id=coach.coach_id
    </select>-->
    <select id="getAllCourseInfo" resultMap="course_coach2">
        SELECT course_info.course_id, course_name,
               description,
               start_time,
               frequency,
               price,
               capacity,
               a.coach_name
        FROM course_info
                 LEFT JOIN
             (SELECT coach.coach_id, coach_name, course_coach.course_id
              FROM coach,
                   course_coach
              where course_coach.coach_id = coach.coach_id) a
             ON course_info.course_id = a.course_id
    </select>

    <!--3. 根据课程名字模糊查询信息-->
    <select id="getAllCourseInfoByName" resultType="com.fitness.entity.CourseInfo">
        <include refid="baseQuery"/> where course_name like concat('%', #{keyword}, '%')
    </select>

    <!--4. 查询所有课程数量-->
    <select id="getAllCourseInfoNumber" resultType="java.lang.Integer">
        select count(*) from course_info
    </select>

    <!--5. 新增课程信息-->
    <insert id="insertCourseInfo">
        insert into course_info(course_name, description, start_time, frequency, price,capacity)
        values (#{courseName}, #{description}, #{startTime}, #{frequency}, #{price},#{capacity})
    </insert>

    <!--6. 删除课程信息-->
    <delete id="deleteCourseInfo">
        delete from course_info where course_id = #{id}
    </delete>

    <!--7. 更新课程信息-->
    <update id="updateCourseInfo">
        update course_info set course_name = #{courseName}, description = #{description},
                               start_time = #{startTime}, frequency = #{frequency},
                               price = #{price},capacity=#{capacity}
        where course_id = #{courseId}
    </update>
</mapper>