<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitness.dao.EquipmentMapper">
    <select id="selectAllEquip" resultType="com.fitness.entity.Equipment">
        select equip_id,type,label,purchase_date,available from equipment;
	</select>
</mapper>