<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitness.dao.EquipmentMapper">
    <sql id="allField">
        equip_id
        ,type,label,purchase_date,available
    </sql>
    <select id="selectAllEquip" resultType="Equipment">
        select
        <include refid="allField"/>
        from equipment
    </select>
<!--    映射一对一关系-->
    <resultMap id="equipAndTypeMap" type="Equipment">
        <id property="equipId" column="equip_id"/>
        <result property="label" column="label"/>
        <result property="type" column="type"/>
        <result property="purchaseDate" column="purchase_date"/>
        <result property="available" column="available"/>
<!--        配置封装EquipType类的内容-->
        <association property="equipType" column="type_id" javaType="EquipType">
            <result property="typeId" column="type"/>
            <result property="type" column="etype"/>
            <result property="price" column="price"/>
            <result property="producer" column="producer"/>
            <result property="productNumber" column="product_number"/>
        </association>
    </resultMap>
    <select id="selectAll" resultMap="equipAndTypeMap">
        select equip_id,equipment.type AS type,equip_type.type AS etype,label,purchase_date,available,producer,product_number,price from equipment,equip_type
where equipment.type = equip_type.type_id
    </select>
    <select id="selectEquipById" resultType="Equipment">
        select
        <include refid="allField"/>
        from equipment
        where equip_id=#{id}
    </select>
    <insert id="insertEquip" parameterType="Equipment">
        insert into equipment (<include refid="allField"/>)
        values (#{equipId},#{type},#{label},#{purchaseDate},#{available})
    </insert>
    <update id="updateEquip" parameterType="Equipment">
        update equipment
        set type         = #{type},
            label=#{label},
            purchase_date=#{purchaseDate},
            available=#{available}
        where equip_id = #{equipId}
    </update>
    <delete id="deleteEquip">
        delete
        from equipment
        where equip_id = #{equipId}
    </delete>
</mapper>